<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Cruze</string>
		<key>image</key>
		<string>test1.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Dodge</string>
		<key>model</key>
		<string>Dart</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Focus</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Honda</string>
		<key>model</key>
		<string>Civic</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Elantra</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Forte</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Mitsubishi</string>
		<key>model</key>
		<string>Lancer</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Sentra</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Subaru</string>
		<key>model</key>
		<string>Impreza</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Corolla</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Impala</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Taurus</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Honda</string>
		<key>model</key>
		<string>Accord</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Genesis</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Cadenza</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Maxima</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Avalon</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Malibu</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Dodge</string>
		<key>model</key>
		<string>Avenger</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Fusion</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Sonata</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Optima</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Mitsubishi</string>
		<key>model</key>
		<string>Eclipse</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Altima</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Subaru</string>
		<key>model</key>
		<string>Legacy</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Camry</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Sonic</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Fiesta</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Honda</string>
		<key>model</key>
		<string>Fit</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Accent</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Rio</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Mazda</string>
		<key>model</key>
		<string>2</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Mitsubishi</string>
		<key>model</key>
		<string>Mirage</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Versa</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Yaris</string>
		<key>image</key>
		<string>default.png</string>
	</dict>
</array>
</plist>
